<div class="footer">
  <ul>
    <li><a href="">Become a Seller</a></li>
    <li><a href="">Polices</a></li>
    <li><a href="">Terms and Conditions</a></li>
    <li><a href="">Help Center</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Facebook</a></li>
    <li><a href="">Sitemap</a></li>
    <li><a href="">FAQ</a></li>
  </ul>
  <br />
  <p>© 2023 E-comme Project by Shailendra</p>
</div>
