.product-list {
  text-align: center;
}
h1 {
  text-align: center;
  color: blueviolet;
}
table {
  text-align: left;
  color: blueviolet;
  border-collapse: collapse;
}
img {
  height: 100px;
  width: 100px;
}
table td,
table th {
  border: 1px solid blueviolet;
  padding: 10px;
  min-width: 160pxs;
}
.adjust-update-link {
  margin-left: 10px;
}
