<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller sign-up</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form"
    >
      <input
        type="text"
        class="form-input"
        placeholder="Enter Name"
        name="name"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        placeholder="Enter Email"
        name="email"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        ngModel
      />

      <button class="form-button">Sign Up</button>
      <a (click)="openLogin()" class="auth-toggle-link"
        >Already Have Account? Click for Login</a
      >
    </form>
  </div>

  <!-- Login Area -->
  <div *ngIf="showLogin" class="sign-up">
    <h1>Seller Login</h1>
    <p class="error-p">{{ authError }}</p>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="common-form"
    >
      <input
        type="text"
        class="form-input"
        placeholder="Enter Email"
        name="email"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        placeholder="Enter Password"
        name="password"
        ngModel
      />

      <button class="form-button">Login</button>
      <a (click)="openSignUp()" class="auth-toggle-link"
        >Don't have have account? Click for Sign-Up</a
      >
    </form>
  </div>
</div>
